.header {
  background-color: #302850;
  font-family: "Comfortaa", cursive;
  color: #fff;
  z-index: 1300;
  box-shadow: 0 0 3px 3px #00000042;
  display: flex;
  flex-direction: row;
  font-size: 28px;
}

.logo {
  margin-left: 40px;
  padding: 10px;
  width: 200px;
}

.h1 {
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: auto;
  margin-top: auto;
  font-size: 28px;
}
