.carousel_title{
  margin-bottom: 30px;
  color: #070346;
  
}
.slide{
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.slider_img_container{
display: flex;
flex-direction: row;
margin: auto;
}
.slideshow_container {
  width: 100vw;
  height: calc(100% - 20px);
  align-items: center;
  position: relative;
  background: #f3f3d4;
}
.carousel_block {
  width: 82%;
  max-width: 980px;
  position: relative;
margin: 30px;
}
/* Slides */
.mySlides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem;
  height: 93vh;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 5vw;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot_container {
  text-align: center;
  padding: 20px;
  background: seagreen;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 8px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active {
  background-color: #f3f3d4;
  height: 17px;
  width: 17px;
}
.dot:hover {
  background-color: #ccc;
}


/* Add an italic font style to all quotes */
/* q {
  font-size: 5.3vw;
  font-style: italic;
  text-align: left;
} */

/* Add a blue color to the author */
.author {
  font-size: 5vw;
  color: green;
  text-align: right;
}

@media only screen and (min-width: 1000px) {
  .mySlides {
    padding: 0 10rem;
  }
}


.arrow_left{
  position: absolute;
  top:50%;
  left: 0;
  cursor: pointer;
}
.arrow_left:hover{
  background-color: #888;
}
.arrow_right{
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
}
.arrow_right:hover{
  background-color: #888;
}
.slider_img{
  width: 180px;
  height: 180px;

}
