.main_div{
  display: flex;
  flex-direction: row;
}
  .description{
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}
.container{
  padding: 50px;
  max-width: 1366px;
  margin: auto;
  }

.wrapper {
  width: 82%;
  max-width: 980px;
  position: relative;
  margin-top: 40px;
}

.carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  height: 0;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgb(201 201 201);
  border: none;
  padding: 8px;
  outline: 0;
  cursor: pointer;
  position: absolute;
}
.prev,
.next:hover{
  background: #919393;
}
.prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

.next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}
.carousel_item:hover{
cursor: pointer;
}

.item {
  width: 180px;
  height: 180px;
 
}
.main_block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;

  width: 70%;
}
.aside_right_main{
  border-right: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home{
  text-decoration: underline;
  color: blue;
  font-weight: 800;
  font-size: 20px;
  padding-bottom: 40px;
}

.ul{
  display: flex;
  flex-direction: row;
}
.li{
  list-style-type: none;
  color: #f99b04;
}
.rating{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  
}
.rating_result
{  display: flex;
  flex-direction: row;
}
.rating_stars{
  margin-right: 20px;
  list-style-type: none;
  margin-top: auto;
margin-bottom: auto;
cursor: pointer;
}
.rating_text{
  color:#2b7e05;
  font-size: 20px;
}
.item_descr{
  color:
  #0066c0;
  font-size: 14px;
  font-weight: 500;
  
}
.select{
  width: 100%;
  padding: 8px;
  margin: 5px;
}
.delivery_item{
 
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.delivery_icon{
height: 30px;
  margin-right: 5px;
}
.delivery_text{
  text-align: center;
}
.delivery_region{
  margin-bottom: 10px;
}
/*rating styles */
.rating_result {
	
	margin: 0 auto;
}
.rating_result .li {
	padding: 0;
	font-size: 20px;
	margin: 0 3px;
	line-height: 1;
	/* color: lightgrey; */
	/* text-shadow: 1px 1px #bbb; */
}
.rating_result > .li:before {
	content: '★';
}
.active {
	color: #f99b04;
	/* text-shadow: 1px 1px #c60; */
}
.aside_left_main{
  margin-top: 100px;
  width: 30%;
  padding-left: 30px;
}
.aside_right_info{
  width: 70%;
}
.p{
  padding-right: 30px;
}
.input{
  width: 200px;
  height: 30px;
  margin: 10px;
}
