
.body{
  margin: 0;
  padding: 0;
}
.main_container{
  background-color: #eeeeee;
   display: flex;
   flex-direction: column;
justify-content: center;
box-sizing: border-box;
}

.main{
  background-color: #fff;
  padding: 30px;
  border-radius: 50px;

}
.books_header{
  padding: 40px;
  background-color: red;
  display: flex;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;

}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;

}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: auto;
  max-width: 80%;
  
}


.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 100px;
}
.img{
  margin-bottom: 40px;
  margin: auto;
}

.list {
list-style-type: circle;
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-row-gap: 50px;
margin: 20px;
border-radius: 5px;

}

.listItem {
  
  max-width: 500px;
  text-align: center;
  min-height: 94px;
  /* align-items: end; */
  /* justify-content: space-between; */
  list-style: none;

}

.lightText {
  color: #999;
}

.catalog{
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;

  border-radius: 5px;
}
.main{
  display: flex;
  flex-direction: row;
}
.catalog a{
margin-bottom: 10px;
}
.categories{
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 30px;
  
}
.Books{
  color: #0070f3;
  cursor: pointer;
}
.Books:hover{
  text-decoration: underline;
}
.book_title{
  color: #072d59;
    text-decoration: none;
    font-size: 30px;
    margin: auto;
    cursor: pointer;
}
.book_author{
  color: gray;
  margin: auto;
}
.header{
  background-color: #302850;
  font-family: 'Comfortaa', cursive;
  color: #fff;
  z-index: 1300;
  box-shadow: 0 0 3px 3px #00000042;
  display: flex;
  flex-direction: row;
  font-size: 28px;
  }
 
  .logo{
  margin-left: 40px;
  padding: 10px;
    width: 200px;
  }
  
  .h1{
   text-transform: uppercase;
   margin-left: 20px;
   margin-bottom: auto;
   margin-top: auto;
   font-size: 28px;
  }
  .activeCat{
    color: red;
  }
  .item_content{
display: flex;
flex-direction: column;
  }
  .item_img{
    
    display: flex;
    justify-content: center;
  }
  .item_btn{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 26px;
  }
  .item_title{
display: flex;
justify-content: center;
  }
  .item_body{
    display: flex;
    justify-content: center;
      }
